#main {
    /* padding-top: 20px; */
    background-color: rgb(4, 4, 36);
    font-family: 'PT Sans', sans-serif;
}

.row {
    width: 100%;
    height: 100%;
}

#gifslist.img {
    padding-bottom: 10px;
}

.col-3 {
    background-color: rgb(0, 0, 0);
}

.col-9 {
    background-color: rgb(42, 42, 42);
}

#formTitle {
    color: rgb(77, 77, 77);
    font-size: 12px;
}

#submit {
    color: rgb(129, 129, 129);
    background-color: rgb(46, 46, 46);
    font-family: 'PT Sans', sans-serif;
    border: none;
}

#buttons {
    display: inline;
    padding-top: 4.25px;
    padding-bottom: 10px;
    background-color: rgb(46, 46, 46);
    border: none;
    color: white;
    padding-bottom: 10px;
    font-family: 'PT Sans', sans-serif;
  
}


#gifDiv {

    float: left;
    padding-right: 5px;
    padding-bottom: 5px;
    top: 20px;
    left: -80px;
    z-index: 1;

}

.ratingText{
    color: rgb(77, 77, 77);
    float: left;
    background-color: rgb(56, 56, 56);
    top:90px;
    left: -90px;
    font-family: 'PT Sans', sans-serif;
}


#formText {
    font-size: 40PX;
    color: honeydew;
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
    opacity: 20%;

}